{% extends 'maec/apoiador.html' %}
{%block title%}Doar{% endblock %}
{% block conteudo %}
{% load static%}
{% load widget_tweaks %}
<div class="content-wrap"   style="min-height: 788px;">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">                          
                        </div>
                    </div>
                </div>   
            </div>
                <section id="main-content">
                    <div class="row">
                        <div class="col-md-8 offset-md-3 my-3 col-lg-8 col-xl-6 col-xxl-8">
                            <div class="card">
                                <div class="text-center mb-4">
                                    <h3>Pix</h3>   
                                    <h5>Chave: 123456789</h5>                                   
                                </div>
                                <div class="text-center mb-4">
                                    <h3>Conta para depósito</h3>  
                                    <h5>Agência: 123456789</h5> 
                                    <h5>Conta: 123456789</h5>  
                                    <h5>Operação: 123456789</h5>  
                                    <h5>Banco: 123456789</h5>                                 
                                </div>
                            </div>
                            <div class="card">
                                <div class="text-center mb-4">
                                    <h4>Doar</h4>                                   
                                </div>
                                <div class="basic-form">
                                    <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                    <label>Valor</label>
                                    {% render_field formDinheiro.valor class+='form-control input-rounded' placeholder+='Valor' %}
                                    </div>
                                    <div class="form-group">
                                    <label>Forma de Pagamento</label>
                                    {% render_field formDinheiro.forma class+='form-control input-rounded'  %}
                                </div>
                               
                                <button type="submit" class="btn btn-pink btn-block btn-rounded" >Confirmar</button>
                              
                            </form>
                            </div>
                        </div>
                    </div>
                </section>
                {% block doar %}
                {% endblock%}
        </div>
    </div>
</div>
{% endblock %}